body {
  all:unset;
}

:root {
  margin: 0;
  display: inline-block;
  background-color: grey;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
}

h2 {
  font-size: medium;
}

p {
  font-size: medium;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  display: inline-block;
  position: relative;
}

.map-container {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.map-img {
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.map-icon {
  margin: 0;
  position: absolute;
  border: 5px;
  border-style: none;
  background-color:none;
  opacity: 0.7;
  z-index: 2;
  border-radius: 5px;
  width: fit-content;
}

.icon-map-image {
  width: 50px;
}

.icon-specific-img {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  background-color:  #DAF7A6;
}

.map-icon-scroll-text {
  width:fit-content;
  opacity: 1;
  position: absolute;
  visibility: hidden;
  background-color: darkcyan;
  color: black;
  border-radius: 25px;
  border-color: black;
  border-style: groove;
}

.map-icon:hover .map-icon-scroll-text {
  visibility: visible;
  opacity: 1;
}

.filter-top-row{
  width: 50vw;
}

table {
  table-layout: fixed;
  width: 100vw;
  position: relative;
}

tr:nth-child(even) {
  background-color: rgb(86, 82, 78);
}
tr:nth-child(odd) {
  background-color: rgb(73, 64, 64);
}

td.filter-td-top-row {
  overflow: hidden;
  display: inline-flex;
}

td.td-names {
  width: 225px;
  overflow: hidden;
  z-index: 1;
}

td.td-levels {
  width: 115px;
  z-index: 1;
}

td.td-schools {
  width: 180px;
  z-index: 1;
}

td.spelltext {
  display: hidden;
  visibility: hidden;
  position: absolute;
}

.spell-row {
  position: relative;
  display: flex;
  width: 100vw;
  border-style: none;
  padding: 2px;
}

.spell-row > td {
  flex: 1;
}

tr.spell-row:hover{
  border-color: white;
  padding: 0px;
  border-style:solid;
  border-width: 2px;
}

tr.spell-row:hover .spelltext{
  background-color: antiquewhite;
  visibility: visible;
  left: 20%;
  top: 50%;
  width: 70%;
  z-index: 2;
  border-radius: 5px;
}


.modal {
  position: absolute;
}